
.createWorkspacebtns{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.create-workspace-btn, .go-back-btn{
  width: 30%;
    /* width: 100%; */
  padding: 10px;
  background: #103848;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}